

body {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 42px;
}

#titulo-jogo {
    background: linear-gradient(135deg, #003b73, #0070f3, #8ec5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;

}

/* bot천es */

#buttons-conteiner button {
    font-size: 1.5em;
    border: none;
    padding: 50px 75px;
    margin: 40px 10px;
    min-width: 300px;
    cursor: pointer;
    border-radius: 40px;
    box-shadow:  5px 5px  #00000052;
    transition: transform 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#buttons-conteiner button:hover {
    transform: scale(0.9);
    box-shadow:  3px 3px  #00000052;
}


/* jogo */

#conteiner {
    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.desaparecendo {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.box {
    height: 100px;
    border: 5px solid #000;
    box-sizing: border-box;
    flex: 1 1 33%;
    cursor: pointer;
    transition: .2s;
}

.box:hover {
    background: radial-gradient(circle, #cfcfcf 30%, #ffffff 70%);
}

#block-1, #block-2, #block-3 {
    border-top: none;
}

#block-1, #block-4, #block-7 {
    border-left: none;
}

#block-7, #block-8, #block-9 {
    border-bottom: none;
}

#block-3, #block-6, #block-9 {
    border-right: none;
}

/* simbolos */

.x {
    font-size: 65px;
    color: red;
    display: inline-block;
    line-height: 100px;
    user-select: none;
}

.o {
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-radius: 50%;
    display: inline-block;
    margin-top: 17px;
}

/* classe de esconder */

.hide {
    display: none !important;
}

/* placar */

#scoreboard-conteiner {
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(201, 195, 195);
    border-radius: 15px;
    padding: 5px 40px;
}

.score-box {
    margin: 0 20px;
}

#x-scoreboard {
    color: red;
    margin-right: 3px;
}

#o-scoreboard {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid green;
    border-radius: 50%;
    margin-right: 3px;
}

/* msg de vitoria */

#message p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 90%;
    font-size: 50px;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.bg-red {
  background-color: red;
  color: white; /* s처 pra melhorar a visibilidade do texto */
  padding: 10px;
  border-radius: 5px;
}

.conteiner .bg-red:hover {
    transform: translateY(-200px);
    transition: 0.5s;
}

.bg-green {
  background-color: green;
  color: white; /* s처 pra melhorar a visibilidade do texto */
  padding: 10px;
  border-radius: 5px;
}

.bg-gray {
  background-color: gray;
  color: white; /* s처 pra melhorar a visibilidade do texto */
  padding: 10px;
  border-radius: 5px;
}

/*
.botao-desativado {
  pointer-events: none;
  visibility: collapse;
}